body {
    font-size: 15px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

* {
  box-sizing: border-box;
}

/* Style the header */
header {
  padding: 30px;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #33363b;
}

.tab {
  display: block;
  background-color: #368cbf;
}

.tablinks {
  background: #368cbf;
  color: white;
  border: none;
  font-size: 15px;
  margin-left: 30px;
}

.tablinks:hover {
  background: #eaeaea;
  color: #368cbf;
}

p {
  font-weight: 500;
}

/* Container for flexboxes */
section {
  display: flex;
  width: 1200px;
  display: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 0, 0, 20px;
}

/* Style the content */
article {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
  background-color: #eaeaea;
  padding: 10px;
}

article ul {
    list-style-type: circle;
    line-height: 180%;
    font-weight: 200;
}

/* Style the footer */
footer {
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  #container {
    width: 100%;
  }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 80% auto; /* 80% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 100;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #myBtn {
    background-color:white;
    border-radius: 16px;
  }

  #myBtn:hover {
    background-color:#368cbf;
    color:white;
  }